image: 'php:8.1'

services:
  - mysql:5.7

stages:
  - test

variables:
  MYSQL_DATABASE: did_i_miss_the_deadline
  MYSQL_ROOT_PASSWORD: secret

test:
  script:
    # Update packages
    - apt-get update -yqq
    # Prep for Node
    - apt-get install gnupg -yqq
    # Upgrade to Node 8
    - curl -sL https://deb.nodesource.com/setup_8.x | bash -
    # Install dependencies
    - apt-get install git nodejs libcurl4-gnutls-dev libicu-dev libmcrypt-dev libvpx-dev libjpeg-dev libpng-dev libxpm-dev zlib1g-dev libfreetype6-dev libxml2-dev libexpat1-dev libbz2-dev libgmp3-dev libldap2-dev unixodbc-dev libpq-dev libsqlite3-dev libaspell-dev libsnmp-dev libpcre3-dev libtidy-dev -yqq
    # Install php extensions
    - docker-php-ext-install pdo_mysql zip opcache gd exif bcmath
    # Install & enable Xdebug for code coverage reports
    - pecl install xdebug
    - docker-php-ext-enable xdebug
    - docker-php-ext-install pdo_mysql
    - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
    - composer install --prefer-dist --no-ansi --no-interaction --no-progress --optimize-autoloader
    - cp .env.example .env
    - php artisan key:generate
    - php artisan config:clear
    - php artisan migrate:fresh
    - php artisan test