image: php:8.1

services:
  - mysql:5.7

variables:
  MYSQL_DATABASE: fantasy_mma_sail
  MYSQL_ROOT_PASSWORD: secret
  MYSQL_PASSWORD: secret
  DB_HOST: mysql
  DB_DATABASE: fantasy_mma_sail
  DB_USERNAME: root
  DB_PASSWORD: secret
  DB_PORT: 3306

before_script:
  # Update packages
  - apt-get update -yqq
  # Prep for Node
  - apt-get install gnupg -yqq
  - apt-get install -y gnupg gosu curl ca-certificates zip unzip git supervisor sqlite3 libcap2-bin libpng-dev python2 libzip-dev libpq-dev
  # Install dependencies
  - docker-php-ext-install pdo_mysql zip
  # Install & enable Xdebug for code coverage reports
  - pecl install xdebug
  - docker-php-ext-enable xdebug
  # Install Composer and project dependencies.
  - curl -sS https://getcomposer.org/installer | php
  - php composer.phar install

  # Install Node & build npm
  - curl -sLS https://deb.nodesource.com/setup_16.x | bash -
  - apt-get install gcc g++ make
  - apt-get install -y nodejs
  - npm cache clean --force
  - rm -rf node_modules
  - npm install
  - npm install --save-dev vite
  - npm -v
  - npm run build
  - cp .env.example .env
  # Generate an application key. Re-cache.
  - php artisan key:generate
  - php artisan config:clear
  # Run database migrations.
  - php artisan migrate:fresh

test:
  script:
    # run laravel tests, pint & phpstan
    - php vendor/bin/pint
    #- php artisan test --env=testing
    #- php vendor/bin/phpstan
    - php artisan test
    #- php artisan test tests/Feature/Controllers/
    #- php artisan test tests/Feature/Routes/
