image: 'php:8.1'

services:
  - mysql:5.7

stages:
  - build
  - test

build:
  script:
    - apt-get update && apt-get install -y zip unzip
    #- pecl install xdebug
    #- docker-php-ext-enable xdebug
    - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
    - composer install --prefer-dist --no-ansi --no-interaction --no-progress --optimize-autoloader
    - cp .env.example .env
    - php artisan key:generate
  artifacts:
    paths:
      - vendor/
      - .env

test:
  needs:
    - build
  script:
    - vendor/bin/pest
  dependencies:
    - build