includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    ignoreErrors:
    		- '#Undefined variable: \$this#' #This is because of some pest errors from default configs
    paths:
        - app
        - tests

    # Level 9 is the highest level
    level: max

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
